/* Phần chung của các màn hình */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    color: #343a40;
    margin:  40px auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;   
}
p {
  color: #646464;      
}

/* ảnh giưac các thẻ */
.avt {
    height: 50px;
    margin: 0 150px;
    border-radius: 100%;
    transform: scale(4);
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
/* định dạng thẻ a */

.a:hover {
    background-color: #74c0fc;
    color: #f8f9fa;
}
.a {
    color:#343a40;
}
/* thông tin */
.bg-grey {
    background-color: #f5f5f5;
}    
.target2 {
    background-color: #ebebeb;
}
/* King nghiệm--> kỹ năng */
#job-info {
    margin-bottom: 40px;
}
.exp-skill {
    border: 1px solid #dddddd;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}
.header {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 3;
}
/* vị trí dấu chấm */
.cham {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #228be6;
}
.cham1 {
    margin-top: 40px;
    grid-row: 2 / 3;
}
.cham2 {
    margin-top: 12px;
    grid-row: 3 / 4;
}
.cham3 {
    margin-top: 12px;
    grid-row: 4 / 5;
}
/* kinh nghiệm-học vấn */
.box-exp1, .box-exp2 {
	margin: 25px 10px;
    margin-left: 20px;
	display: grid;
	grid-template-columns: 20px 1fr;
	
}
.box-exp1 {
    grid-template-rows: 50px 1fr 250px;
    
}
.tg {
    font-style: italic;
}
.hien-tai {
    padding: 2px 8px;
    background: #228be6;
    color: #e6e6e6;
    border-radius: 8px;
    
}

/* lang-skill-thanh */
.thanh {
    display: flex;
}
.thanh-dam, .thanh-nhat {
    height: 5px;
    width: 55px;
    margin-right: 20px;
    border-radius: 5px;
}
.thanh-dam {
    background-color: #72aadb;
}
.thanh-nhat {
    background-color: #dee2e6;
}
.content-nn-kn {
    padding-bottom: 20px;
}



/* footer */
ul {
    display: flex;
    margin: 0 auto;
    padding: 40px;
}
ul li {
    list-style: none;
    margin: 20px 30px;
    color: #868e96;
    align-items: center;
    cursor: pointer;
}
ul li p {
    padding-top: 20px;
}
/* digital-cv */
#digital {
    padding: 8px 0;
    
    text-decoration: none;
    border: none;
    color:rgba(0, 0, 0, 0.7)
}
#digital:hover {
    color:#31a6ff;
}
/* màn máy tính  */
@media only screen and (min-width: 768px) {
    #banner {
        font-size: 18px;
        color :#969696;
        height: 500px;
        width: 1320px;;
        background-image: linear-gradient(
      rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
        url("../images/banner.jpg");
        display: grid;
        text-align: center;
        align-items: center;
    }
    /* navbar*/
    .icon {
	color: #228be6;
    }
    .a {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);   
    }
    #a {
        display: flex;
        padding: 0 50px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
         
    }
    /* ko bị trồng các border */
    a:nth-child(2) {
        border-right: 1px solid #cfcfcf;
    }
    a:nth-child(5) {
        border-right: 1px solid #cfcfcf;
    }


    .a:last-child {
        border-right: 1px solid #dddddd;
    }
    .a:link, .a:visited {
        padding: 22px 32px;
        padding-right: 38px;
        border-left: 1px solid #cfcfcf;
        text-decoration: none;
    }
    /* thông tin  */
    .target {
    width: 50%;
    }
    .target2 {
        padding: 40px;
        padding-top: 80px;
    }
    .target1 {
        padding-top: 80px;
    }
    /* kinh nghiem - ky nang */
    .job {
    display: grid;
        margin: 0 auto;
        grid-template-columns: 0.5fr 0.4fr 0.4fr;
        grid-template-rows: 1fr 0.5fr;
        grid-row-gap: 20px;
        grid-column-gap: 35px;
   
        justify-content: center;
    }
    .exp-skill {
        border: 1px solid #dddddd;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        padding-bottom: 20px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    }
    /* icon exp- skill */
    .ic-telescope, .ic-mic,  .ic-tools-2 {
        padding-right: 25px;
        padding-top: 15px;
        transform: scale(2.5);
    }
    .ic-toolbox, .ic-pencil{
        padding-right: 18px;
        padding-top: 15px;
        transform: scale(2.5);
    }
    h2 {
        font-size: 18px;
        color :#646464;  
        margin-top: 25px;
        margin-bottom: 5px;
    }
    .content-kn-hd {
        padding-top: 20px;

    }
    /* sở thick  */
    .box-like {
        padding-top: 30px;
        padding-left: 20px;
    }
    .like {
        margin: 0 auto;
    }
    .like:first-child{
        margin-left: 0;
    }
    .ic-strategy, .ic-hotairballoon {
        padding: 8px 10px;
    }
    .ic-megaphone, .ic-strategy, 
    .ic-hotairballoon, .ic-basket {
        padding: 8px 6px;
        margin-top: 20px;
        margin-bottom: 14px;
        margin-left: 10px;
        border: 2px solid #69db7c;
        border-radius: 50%;
        color: #969696;
    }
    .content-like {
        display: flex;
    }
    /* chung chi giai thuong */
    .img-chung-chi {
	    width: 20vw;
        height: 10vw;
	    padding-right: 20px;
    }
    .img-border {
    	border-left: 1px solid rgb(218, 192, 145);
    	padding-left: 20px;
	    margin-left: 40px;
    }
    #chung-chi {
        display: flex;
        flex-direction: column;
    }

    .chung-chi {
	    display: flex;
	    padding-bottom: 40px;
	
    }
    .chung-chi:last-child {
	    padding-top: 40px;
	    border-top: 1px solid rgb(218, 192, 145);
    }
    
    /* du an */
    .img-du-an {
	  width: 100%;
	  height: 270px;
      margin-bottom: 10px;
    }

    #container-du-an {
	  display: flex;
      flex-direction: column;
      padding: 48px;
      margin: 0 auto;
    } 
    #du-an {
	  display: grid;
	  grid-template-columns: 33% 33% 33%;
	  grid-column-gap: 30px;
    }
    
    
    
    .header-du-an {
        display: flex;
        margin-top: 10px;
        border-top: 1px solid #d8d8d8;
        border-left: 1px solid #d8d8d8;
        border-right: 1px solid #d8d8d8;
    }
    #container-du-an h1 {
        padding-bottom: 30px;
    }
    .header-du-an p {
        margin: auto auto;
    }
    .first-header { 
        margin-left: 10px;
        margin-top: 10px;  
        margin-bottom: 10px; 
        padding: 8px 12px;
        color: #ffffff;
        background-color: #43adff;
        border-radius: 20px;
    }
    /* content dự án  */
    .mo-ta {
        border-top: 1px solid #d8d8d8;
        border-left: 1px solid #d8d8d8;
        border-right: 1px solid #d8d8d8;
        display: grid;
        grid-template-columns: 30% 70%;
    }
    .mo-ta:last-child {
        border-bottom: 1px solid #d8d8d8;
    }
    .mo-ta p {
        margin: 10px 20px;
        margin-right: 10px;
    }
    #mo-ta {
        padding-top: 8px;
        padding-bottom: 16px;
    }
    /* footer  */
    .icon-footer {
		transform: scale(2);
		color: #43adff;
		padding-right: 10px;
	}
    
}
